.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
.DS_Store
*.log
*.g.dart
# Ignorar todo el build excepto web
build/
!build/web/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages